extends ../application.pug

block content

  .container
    .row
      .col-xs-2
        img(class='img-fluid' src=user.avatar_url)
      .col-xs-10
        h1= user.name
        h5= user.login
        if user.email
          h5= "Email address: " + user.email
        if user.company
          h4= "Compny: " + user.company

        if user.location
          h4= "Location: " + user.location

        if user.blog
          a(href=user.blog)= "Website: " + user.blog
